<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="card">
        <h3>All Posts</h3>
        <p>Yaha sab posts dikhenge</p>
    </div>
</body>

</html>